*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: initial;
  text-rendering: optimizeLegibility !important;
}
html::-webkit-scrollbar
{
  width: 0.3rem;
}
html::-webkit-scrollbar-thumb
{
  background-color: var(--dl-color-theme-neutral-dark);
}
:root 
{
  --dl-color-theme-accent1: #FFFFFF;
  --dl-color-theme-accent2: #F5D1B0;
  --dl-color-theme-primary1: #BF4408;
  --dl-color-theme-primary2: #E65103;
  --dl-color-theme-secondary1: #FFFFFF;
  --dl-color-theme-secondary2: #FBF1EB;
  --dl-color-theme-neutral-dark: #191818;
  --dl-color-theme-neutral-light: #FBFAF9;
}
header
{
  height: 9vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 20px;
  & .logo
  {
    width: 5%;
  }
  & nav 
  {
    & ul li
    {
      display: inline;
      & .dropdown-content
      {
          position: absolute;
          display: none;
          width: 150px;
          padding: 20px;
          line-height: 30px;
          background-color: var(--dl-color-theme-accent1);
          color: var(--dl-color-theme-neutral-dark);
          z-index: 100;
          & a 
          {
            font-size: .9em;
            margin-left: 10px;
            position: relative;
            text-decoration: none;
            text-transform: capitalize;
            color: var(--dl-color-theme-neutral-dark);
          }
          & a::after
          {
            content: "";
            position: absolute;
            height: 1px;
            border-radius: 20px;
            width: 0;
            bottom: -5px;
            left: 0;
            background-color: var(--dl-color-theme-neutral-dark);
            transition: 200ms;
          }
          & a:hover::after
          {
            width: 100%;
          }
      }
      &:hover .dropdown-content
      {
          display: block;
      }
      & a 
      {
        font-size: 1.2em;
        margin-left: 20px;
        position: relative;
        text-decoration: none;
        text-transform: capitalize;
        color: var(--dl-color-theme-neutral-dark);
      }
      & a::after
      {
        content: "";
        position: absolute;
        height: 3px;
        border-radius: 20px;
        width: 0;
        bottom: -5px;
        left: 0;
        background-color: var(--dl-color-theme-neutral-dark);
        transition: 200ms;
      }
      & a:hover::after
      {
        width: 100%;
      }
    }
  }
  & .btn 
  {
    border: none;
    padding: 10px 20px;
    color: var(--dl-color-theme-neutral-dark);
    text-decoration: none;
    background-color: var(--dl-color-theme-accent1);
    border: 1px solid var(--dl-color-theme-neutral-dark);
    font-size: .9em;
    font-weight: 500;
    transition: 200ms;
    cursor: pointer;
  }
  & .btn:hover
  {
    background-color: var(--dl-color-theme-neutral-dark);
    color:white;
  }
}
.main-1
{
  height: 100vh;
  width: 100%;
  background: url(img/img/bg-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  filter:saturate(200%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  & h1 
  {
    font-size: 4em;
    font-weight: 700;
    color: var(--dl-color-theme-accent1) ;
  }
}
.main-2
{
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  & h1
  {
    font-size: 2.5em;
    text-align: center;
  }
  .container
  {
    padding: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns:  repeat(auto-fill, minmax(350px,1fr));
    place-items: center;
    gap: 20px;
    width: 100%;
    & .cart
    {
      padding: 10px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      border: 1px solid var(--dl-color-theme-neutral-dark);
      width:80%;
      & h4 
      {
        text-align: left;
      }
      & a 
      {
        text-align: right;
        text-decoration: none;
        text-transform: capitalize;
        color: var(--dl-color-theme-neutral-dark);
        font-weight: 600;
      }
      & a:hover 
      {
        text-decoration: underline;
      }
      & img 
      {
        width: 100%;
        border: 1px solid var(--dl-color-theme-neutral-dark);
      }
    }
  }
}
.main-3
{
  height: 60vh;
  width: 100%;
  overflow: hidden;
  h1 
  {
    font-size: 3em;
    text-align: center;
  }
  .content_contact
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    p 
    {
      font-size: 1.5em;
      font-weight: 600;
      line-height: 50px;
    }
  }
  form 
  {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid var(--dl-color-theme-neutral-dark);
    padding: 20px;
    width: 30%;
    label 
    {
      font-size: 1.2em;
    }
    textarea 
    {
      resize: none;
    }
      & button 
      {
        width: 40%;
        border: none;
        padding: 10px 20px;
        background-color: var(--dl-color-theme-accent1);
        border: 1px solid var(--dl-color-theme-neutral-dark);
        font-size: .9em;
        font-weight: 500;
        transition: 200ms;
        cursor: pointer;
      }
      & button:hover
      {
        background-color: var(--dl-color-theme-neutral-dark);
        color:white;
      }
  }
}
.main-4
{
  height: 60vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & h1 
  {
    font-size: 2em;
    text-align: center;
  }
  & .content_say_client
  {
    padding: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns:  repeat(auto-fill, minmax(350px,1fr));
    place-items: center;
    gap: 20px;
    width: 100%;
    .cart 
    {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 90%;
      border: 1px solid var(--dl-color-theme-neutral-dark);
      padding: 20px;
      overflow: hidden;
      .col-1
      {
        display: flex;
        justify-content: space-between;
        & h4 
        {
          font-size: 1.1em;
        }
      }
      & img 
      {
        width: 10%;
      }
    }
  }
}
.main-5
{
  height: 50vh;
  width: 100%;
  overflow: hidden;
  & h1 
  {
    font-size: 3em;
    margin-left: 20px;
  }
  & .content_about_para
  {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 20px;
    & p 
    {
      width: 30%;
      font-weight: 500;
    }
  }
  & img 
  {
    width: 30%;
    border: 1px solid var(--dl-color-theme-neutral-dark);
  }
}
footer 
{
  height: 20vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  & .right_content
  {
    h3 
    {
      font-size: 2em;
    }
    ul li 
    {
      list-style: none;
      & a 
      {
        color: var(--dl-color-theme-neutral-dark);
        text-decoration: none;
      }
      & a:hover 
      {
        text-decoration: underline;
      }
    }
  }
  & .center_content
  {
    h3 
    {
      font-size: 2em;
    }
    ul li 
    {
      list-style: none;
    }
    & a 
    {
      color: var(--dl-color-theme-neutral-dark);
      text-decoration: none;
    }
    & a:hover 
    {
      text-decoration: underline;
    }
  }
  & .left_content
  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 20%;
    h3 
    {
      font-size: 2em;
      text-transform: capitalize;
    }
    input[type="email"]
    {
      width: 100%;
      padding: 3px 6px;
    }
    button 
    {
      width: 30%;
      height: 30px;
      border: none;
      padding: 3px 6px;
      background-color: var(--dl-color-theme-accent1);
      border: 1px solid var(--dl-color-theme-neutral-dark);
      font-size: .9em;
      font-weight: 500;
      transition: 200ms;
      cursor: pointer;
    }
    & button:hover
    {
      background-color: var(--dl-color-theme-neutral-dark);
      color:white;
    }
  }
}
.footer-txt
{
  width: 100%;
  text-align: center;
  color: var(--dl-color-theme-accent1);
  background-color: var(--dl-color-theme-neutral-dark);
}
@media (max-width:600px)  
{
  header
  {
    padding: 5px;
    & .logo
    {
      width: 15%;
    }
    & nav 
    {
      & ul li
      {
        & a 
        {
          font-size: .9em;
          margin-left: 4px;
        }
      }
    }
    & .btn 
    {
      border: none;
      padding: 3px 5px;
      border: 1px solid var(--dl-color-theme-neutral-dark);
      font-size: .6em;
    }
  }
  .main-1
  {
    height: 100vh;
    width: 100%;
    background: url(img/img/bg-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter:saturate(200%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    & h1 
    {
      text-align: center;
      font-size: 2em;
      font-weight: 700;
      color: var(--dl-color-theme-accent1) ;
    }
  }
  .main-2
  {
    height: 130vh;
    & h1
    {
      font-size: 2em;
    }
    .container
    {
      padding: 20px;
      display: grid;
      justify-content: center;
      grid-template-columns:  repeat(auto-fill, minmax(136px,1fr));
      place-items: center;
      gap: 10px;
      width: 100%;
    }
  }
  .main-3
  {
    height: 110vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    h1 
    {
      font-size: 2.5em;
    }
    .content_contact
    {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      gap: 30px;
      padding: 10px;
      p 
      {
        font-size: 1em;
        font-weight: 600;
        line-height: 20px;
      }
    }
    form 
    {
      display: flex;
      flex-direction: column;
      gap: 20px;
      border: 1px solid var(--dl-color-theme-neutral-dark);
      padding: 10px;
      width: 100%;
    }
  }
  .main-4
  {
    height: 120vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & h1 
    {
      font-size: 2em;
      text-align: center;
    }
    & .content_say_client
    {
      padding: 20px;
      display: grid;
      justify-content: center;
      grid-template-columns:  repeat(auto-fill, minmax(170px,1fr));
      place-items: center;
      gap: 20px;
      width: 100%;
      .cart 
      {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 90%;
        border: 1px solid var(--dl-color-theme-neutral-dark);
        padding: 10px;
        overflow: hidden;
        .col-1
        {
          display: flex;
          justify-content: space-between;
          & h4 
          {
            font-size: 1.1em;
          }
        }
        & img 
        {
          width: 10%;
        }
      }
    }
  }
  .main-5
  {
    height: 75vh;
    width: 100%;
    overflow: hidden;
    & h1 
    {
      font-size: 3em;
      margin-left: 20px;
    }
    & .content_about_para
    {
      display: flex;
      justify-content:space-around;
      align-items: center;
      padding: 20px;
      & p 
      {
        width: 100%;
      }
    }
    & img 
    {
      width: 30%;
      border: 1px solid var(--dl-color-theme-neutral-dark);
    }
  }

  footer 
  {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    & .right_content
    {
      h3 
      {
        font-size: 2.5em;
      }
    }
    & .center_content
    {
      h3 
      {
        font-size: 2.5em;
      }
    }
    & .left_content
    {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      h3 
      {
        font-size: 2em;
        text-transform: capitalize;
      }
      input[type="email"]
      {
        width: 100%;
        padding: 3px 6px;
      }
      button 
      {
        width: 30%;
        height: 30px;
        border: none;
        padding: 3px 6px;
        background-color: var(--dl-color-theme-accent1);
        border: 1px solid var(--dl-color-theme-neutral-dark);
        font-size: .9em;
        font-weight: 500;
        transition: 200ms;
        cursor: pointer;
      }
      & button:hover
      {
        background-color: var(--dl-color-theme-neutral-dark);
        color:white;
      }
    }
  }
  .footer-txt
  {
    font-size: 1em;
  }
}
/* @media (min-width:800px)  
{
  header
  {
    padding: 5px;
    & .logo
    {
      width: 10%;
    }
    & nav 
    {
      & ul li
      {
        & a 
        {
          font-size: 1em;
          margin-left: 20px;
        }
      }
    }
    & .btn 
    {
      border: none;
      padding: 10px 20px;
      border: 1px solid var(--dl-color-theme-neutral-dark);
      font-size: 1em;
    }
  }
  .main-1
  {
    height: 100vh;
    width: 100%;
    background: url(img/img/bg-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter:saturate(200%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    & h1 
    {
      text-align: center;
      font-size: 2em;
      font-weight: 700;
      color: var(--dl-color-theme-accent1) ;
    }
  }
  .main-2
  {
    height: 60vh;
    & h1
    {
      font-size: 2em;
    }
    .container
    {
      padding: 20px;
      display: grid;
      justify-content: center;
      grid-template-columns:  repeat(auto-fill, minmax(200px,1fr));
      place-items: center;
      gap: 10px;
      width: 100%;
    }
  }
  .main-3
  {
    height: 120vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    h1 
    {
      font-size: 2.5em;
    }
    .content_contact
    {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      gap: 30px;
      padding: 10px;
      p 
      {
        font-size: 1.4em;
        font-weight: 600;
        line-height: 40px;
      }
    }
    form 
    {
      display: flex;
      flex-direction: column;
      gap: 20px;
      border: 1px solid var(--dl-color-theme-neutral-dark);
      padding: 10px;
      width: 100%;
    }
  }
  .main-4
  {
    height: 60vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & h1 
    {
      font-size: 2.5em;
      text-align: center;
    }
    & .content_say_client
    {
      padding: 20px;
      display: grid;
      justify-content: center;
      grid-template-columns:  repeat(auto-fill, minmax(170px,1fr));
      place-items: center;
      gap: 20px;
      width: 100%;
      .cart 
      {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 90%;
        border: 1px solid var(--dl-color-theme-neutral-dark);
        padding: 10px;
        overflow: hidden;
        .col-1
        {
          display: flex;
          justify-content: space-between;
          & h4 
          {
            font-size: 1.1em;
          }
        }
        & img 
        {
          width: 10%;
        }
      }
    }
  }
  .main-5
  {
    height: 60vh;
    width: 100%;
    overflow: hidden;
    & h1 
    {
      font-size: 3em;
      margin-left: 20px;
    }
    & .content_about_para
    {
      display: flex;
      justify-content:space-around;
      align-items: center;
      padding: 20px;
      & p 
      {
        width: 100%;
      }
    }
    & img 
    {
      width: 30%;
      border: 1px solid var(--dl-color-theme-neutral-dark);
    }
  }

  footer 
  {
    height: 20vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    & .right_content
    {
      h3 
      {
        font-size: 1.5em;
      }
    }
    & .center_content
    {
      h3 
      {
        font-size: 1.6em;
      }
    }
    & .left_content
    {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      width: 30%;
      h3 
      {
        font-size: 2em;
        text-transform: capitalize;
      }
      input[type="email"]
      {
        width: 100%;
        padding: 3px 6px;
      }
      button 
      {
        width: 30%;
        height: 30px;
        border: none;
        padding: 3px 6px;
        background-color: var(--dl-color-theme-accent1);
        border: 1px solid var(--dl-color-theme-neutral-dark);
        font-size: .9em;
        font-weight: 500;
        transition: 200ms;
        cursor: pointer;
      }
      & button:hover
      {
        background-color: var(--dl-color-theme-neutral-dark);
        color:white;
      }
    }
  }
  .footer-txt
  {
    font-size: 1em;
  }
} */
